.condicions {
    display        : flex;
    justify-content: center;
}

.condicions>a {
    font-family: 'Solway', serif;
    size       : 20px;
    margin     : 5px;
}

.condicions>a:hover {
    text-decoration: underline;
}

.container-footer>h4 {
    font-family  : 'Solway', serif;
    text-align   : center;
    color        : yellow;
    margin-bottom: 50px;
}

.cerrar-sesion {
    background: white;
    border    : gray;
    font-size : 15px;
}

.cerrar-sesion:hover {
    box-shadow: 0px 0px 50px rgb(81, 116, 116);
}